{% extends "base/base.html" %}

{% block 'content' %}
<nav class="navbar navbar-light bg-light " style="padding-inline:2rem; gap:1rem;">
  <a class="navbar-brand" style="text-transform:capitalize;">Admin panel</a>
  <a style="margin-left:auto" class="btn btn-outline-info my-2 my-sm-0" href="{% url "admin-orders" %}">Orders</a>
  <a  class="btn btn-outline-danger my-2 my-sm-0" href="/admin/logout/">Logout</a>

</nav>

{% for message in messages %}
<p class="bg-{{ message.tags }} text-white text-center" style="padding:1rem; margin:0;">{{message}}</p>
{% endfor %}
<h1 style="text-align:center; text-transform:capitalize; padding:1rem; ">Orders</h1>

{% if  orders %}
{% for order in orders  %}
<div class="alert alert-warning " style="width:600px; margin-inline:auto;">
    <p>User: {{order.user.user.username}}</p>
    <p>Phone number: {{order.user.phone}}</p>
    <p>Address: {{order.address}}</p>
    <p>Date: {{order.created_at}}</p>
    <p>Status: {{order.status}}</p>

   
        {% for item in order.items %}
        <p>{{item.pizza.name}}: {{item.pizza.price}}$ (X{{item.quantity}})</p>
    {% endfor %}
  
    <p class="fw-bold">Total: {{order.total}}$</p>
    {% if  order.status == "Pending" %}
    <div class="container mx-0 "  style="display:flex; justify-content:center; gap:2rem; ">
        <a href="/admin/order/{{order.id}}/accept/" class="btn btn-success" style="flex:1;">Accept</a>
        <a href="/admin/order/{{order.id}}/decline/"  class="btn btn-danger" style="flex:1;">Decline</a>
    </div>

    {% endif %}
 
   
</div>




{% endfor %}


{% else %}
<a href="{% url 'customer-home' %}" class="btn btn-light text-dark">No orders have been placed yet. Once customers start ordering, they will appear here.</a>
{% endif %}

{% endblock 'content' %}